.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDE3D1;
  height: 20vh;
  width: 100%;
}

.NavBar-Items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.HouseIcon {
  width: 25px;
  height: 25px;
}

.SignUp-Social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}

.Play-Button {
  width: 150px; /* Add a width value */
  height: 50px; /* Add a height value */
}

.Play-Button:active {
  transform: translateY(1px);
}

.Sign-Up {
  width: 150px; /* Add a width value */
  height: 50px; /* Add a height value */
  background-color: #E48F85;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
}

.Sign-Up:hover {
  background-color: #da7d72;
  cursor: pointer;
}

.Sign-Up:focus {
  outline: none;
}


a {
  text-decoration: none;
  color: #121D31;
}

a:hover {
  text-decoration: none;
  color: rgb(108, 107, 107);
}

.Connect {
  margin-right: 25%;
}

.TwitterIcon {
  width: 40px;
  height: 40px;
}

