.tabbed-window-container{
    display: flex;
    background-color: default;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%; /* set the width to 100% to fill the container */
    min-width: 800px;
    flex-direction: row; /* add this line to move the container to the right */
}

.tabs-container {
    display: flex;
    flex-direction: column;
    order: 1;
    background-color: default;
    min-height: 80px; /* set a minimum height in pixels */

    flex: 1; /* make the container grow to fill the available space */
    max-width: 200px; /* set the maximum width to 800 pixels */
}

.tabpanel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: default;
    align-self: center;
  min-height: 450px;
    flex: 3; /* make the container grow to fill the available space */
    min-width: 800px;
}
